/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100vh;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.time-box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.35;
    z-index: -1;
}

.time-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    width: 100%;
    height: 180px;
    border-radius: 16px;
    background-color: hsla(0, 0%, 30%, 0.9);
    z-index: 1;
}

.hours,
.minutes,
.seconds {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
    background: hsl(0, 0%, 10%);
}

span.text {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    font-size: 11px;
}

.meridiem {
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: #000;
    background: #fff;
}

span.colon {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: gold;
}

.date-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 540px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
    color: yellow;
    background: hsl(0, 0%, 10%);
    z-index: 1;
}


/* Media Queries */

@media screen and (max-width: 500px) {
    .time-box,
    .date-box {
        max-width: 300px;
        width: 100%;
        border-radius: 12px;
    }

    .time-box {
        height: 100px;
    }

    .date-box {
        height: 50px;
    }

    .hours,
    .minutes,
    .seconds {
        position: relative;
        width: 50px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 8px;
    }

    span.text {
        font-size: 8px;
    }

    .meridiem {
        padding: 5px;
        font-size: 11px;
        font-weight: 600;
        border-radius: 5px;
    }

    .date-box {
        font-size: 12px;
    }
}